/* .registration-form {

}

.registration-form-forgot {
  float: right;
}

.ant-col-rtl .recovery-form-forgot {
  float: left;

}

.recovery-form-button {
  width: 100%;
  border-radius: 10px;
}

.mainRecovery {
  border: 1px solid #FFFF !important;
  padding: 15px;
  border-radius: 20px;
  background-color: #FFFF;
}

.recoveryInput {
  padding: 6px;
  border-radius: 5px;
}

.datepicker {
  padding: 17px;
  border-radius: 5px;
}

 .recBackToLog{
  width: 100%;
  text-align: center;
 }  */


 .bg {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),url('../../assets/images/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;

  height: 80vh;

 width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}


.content-inside {
  
  width:500px;
  height: 400px;
 display: flex;
 justify-content: center;
 align-items: center;
 

  background-color: #fafbfd;
  border-radius: 10px
}

.login-form {
 
  text-align: center;
}


.title-txt {
  color: black;
 
}

.footer-col{
    outline: 2px solid black;
}

